@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
@import "tailwindcss";

@theme {
    --font-primary: "Josefin Sans";
    --color-primary: #4C1D95;
    --color-dark: #5B2126;
    --color-lighter: #F5F3FF;
    --color-ligh: #DDD6FE;
}
